service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId}/info/profile {
      allow read, create, update, write: if request.auth.uid == userId;
    }
    match /users/{userId=**} {
      allow read, create;
    }
    match /{document=**} {
      allow read, write: if get(/databases/$(database)/documents/users/$(request.auth.uid)/iam/default).data.enabled == true;
    }
  }
}
